@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('../fonts/NanumSquareNeo-Variable.woff2') format('woff2'), url('../fonts/NanumSquareNeo-Variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}