@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("./NanumSquareNeo-Variable.woff2") format("woff2"),
    url("./NanumSquareNeo-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
